* {
    margin: 0;
    padding: 0;
}

#canvas1 {
    position: absolute;
}

.controls {
    position: absolute;
    z-index: 100;

}

img {
    display: none;
}

button {
    padding: 20px;
    font-size: 30px;
    margin: 10px;
    font-family: 'Bangers', cursive;
    color: white;
    background: black;
}

button:hover {
    color: black;
    background: white;
}